## 1. 변수(Variable)의 정의
    - 임시 기억(저장) 공간
    

## 2. 변수의 특징
- 묵시적 선언
- 동적 바인딩
- immutable(불변성)
- 수정 가능성에 따른 분류
    + 수정 불가능 : int, float, str, bool, tuple
    + 수정 가능 : list, dict, set

In [8]:
a = 10
print(a)

a = 11
print(a)

a = "안녕하세요"
print(a)

a = 3.14
print(a)

a = True
a

10
11
안녕하세요
3.14

'True'

## 3. Data Type : 자료형

+ 종류
1. 기본 자료형
        * int
        * float
        * str
        * bool
        
        
2. 집합 자료형
        * list
        * tuple
        * dict
        * set

In [11]:
a = 10
print(type(a))

a = 3.14
print(type(a))

<class 'int'>
<class 'float'>

---

#### (1) str

In [18]:
##### 문자열 저장

a = 10
type(a)

a = '10'
type(a)

a = "안녕하세요"
print(a)

a = '제 이름은 "홍길동" 이라고 합니다'
print(a)

a = """안녕하세요
    제 이름은 홍길입니다.
    만나서 반갑습니다."""
print(a)

안녕하세요
제 이름은 "홍길동" 이라고 합니다
안녕하세요
    제 이름은 홍길입니다.
    만나서 반갑습니다.

In [28]:
##### 특수 문자(제어 문자) : \문자, \(escape 문자)

a = "이것은 파이썬입니다. \\n\\n\\n열심히 공부합시다."
print(a)

a = "현재 시간은 \t\t4시 입니다."
print(a)

# "\t는 탭키의 기능이다"
print("\"\\t는 탭키의 기능이다.\"")

이것은 파이썬입니다. \n\n\n열심히 공부합시다.
현재 시간은 		4시 입니다.
"\t는 탭키의 기능이다."

In [30]:
##### \를 줄바꿈의 용도로 사용

a = "10 + 2 - 3 + 5 \
+ 6 * 7"
print(a)

10 + 2 - 3 + 5 + 6 * 7

In [32]:
##### 문자열을 연결하기

a = "python"
b = " is fun"
c = " and great"

d = a, b, c
print(d)

d = a + b + c
print(d)

('python', ' is fun', ' and great')
python is fun and great

In [35]:
##### 문자열 곱하기(반복)

print(a * 3)

pythonpythonpython

In [36]:
##### 문자열의 길이

print(len(a))
print(len(b))
print(len(c))

6
7
10

In [42]:
##### 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공

a = "Life is too short, You need python"

print(a[3])
print(a[10])

print("---------------------")

print(len(a))
print(a[len(a)-1])

print("---------------------")

print(a[-1])
print(a[-2])

e
o
---------------------
34
n
---------------------
n
o

In [47]:
##### 슬라이싱(Slicing) -> [시작위치 : 끝위치]

print(a[0:6])
print(a[:6])
print(a[6:])
print(a[:])
print(a[19:-7])

Life i
Life i
s too short, You need python
Life is too short, You need python
You need

In [51]:
##### [시작위치 : 끝위치 : step]

print(a[::1])
print(a[::2])
print(a[::-1])

Life is too short, You need python
Lf stosot o edpto
nohtyp deen uoY ,trohs oot si efiL

In [53]:
##### 수정 불가

a = "pithon"

a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [17]:
##### 문자열 관련 함수

# count()
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"

print(len(str1))
print(str1.count("홍"))

print("-----------------------------------------------------")

# join()
str1 = "abcdefg"
print(",".join(str1))

print("-----------------------------------------------------")

# split()
str1 = "홍동길: 홍경래: 홍장군: 임경업: 신돌석"
print(str1.split(":"))

print("-----------------------------------------------------")

# find(), index()
print(str1.find("길"), str1.find("돌"), str1.find("별"))
print(str1.index("길"), str1.index("돌"))

print("-----------------------------------------------------")

# lstrip(), rstrip(), strip()
str1 = "          python"
print(str1)
print(str1.lstrip())

str1 = "python.,"
print(str1.rstrip(".,"))

print("-----------------------------------------------------")

# replace(), [maketrans(), translate()]
str1 = "Hello, World!"
print(str1.replace("World", "Python"))

str1 = "일이삼사오육칠팔구"
print(str1.replace("일이삼사오육칠팔구", "123456789"))
print(str1.replace("일삼오", "135"))

print(str1.translate(str1.maketrans("일삼오", "135")))

23
3
-----------------------------------------------------
a,b,c,d,e,f,g
-----------------------------------------------------
['홍길동', ' 홍경래', ' 홍장군', ' 임경업', ' 신돌석']
-----------------------------------------------------
1 21 -1
1 21
-----------------------------------------------------
          python
python
python
-----------------------------------------------------
Hello, Python!
123456789
일이삼사오육칠팔구
1이3사5육칠팔구

In [32]:
##### 문자열 포맷팅 : %, format()

### %를 이용하는 방법
print("현재 온도는 18도입니다.")
print("현재 온도는 %d도입니다. 그리고 오늘의 날씨는 %s입니다." %(18, "맑음"))

# 나눗셈의 결과 : 3 / 5 = 0.6 입니다.
print("%-5s의 결과 : %d %c %d = %0.2f 입니다."%("나눗셈", 3, "/", 5, (3/5)))

print("\n-----------------------------------------------------------------------\n")

### format()를 사용하는 방법
print("{}의 결과 : {} {} {} = {} 입니다.".format("나눗셈", 3, "/", 5, (3/5)))
print("{3}의 결과 : {0} {1} {2} = {4} 입니다.".format(3, "/", 5, "나눗셈", (3/5)))
print("{title}의 결과 : {num1} {op} {num2} = {result} 입니다."
      .format(num1=3, op="/", num2=5, title="나눗셈", result=(3/5)))
print("{3:*>10}의 결과 : {0} {1} {2} = {4:0.2f} 입니다.".format(3, "/", 5, "나눗셈", (3/5)))

현재 온도는 18도입니다.
현재 온도는 18도입니다. 그리고 오늘의 날씨는 맑음입니다.
나눗셈  의 결과 : 3 / 5 = 0.60 입니다.

-----------------------------------------------------------------------

나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
*******나눗셈의 결과 : 3 / 5 = 0.60 입니다.

---

#### (2) bool

In [46]:
a = False
print(a)
print(type(a))

print("-----------------------------")

print(bool(10), bool(3.14), bool(-2), bool(0))
print(bool("가"), bool("가나다"), bool(' '), bool(''), bool(None))

a = None
print(bool(a))

False
<class 'bool'>
-----------------------------
True True True False
True True True False False
False

---

#### (3) list

+ [  ] 사용
+ 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
+ 인덱스 사용
+ mutable

In [51]:
#a = 10
#b = 11
#c = 12

a, b, c = 10, 11, 12

d = [10, 11, 12]

print(type(a), type(d))
print(a)
print(d)

print(d[0], d[1], d[2])

e = ["james", 178, 3.14, True]
print(e[1])

<class 'int'> <class 'list'>
10
[10, 11, 12]
10 11 12
178

In [56]:
##### Indexing

a = [1, 2, 3, "가", 3.14, ['a', 'b', 'c']]
print(a)
print(a[5])
print(a[5][1])
print(a[-1][-3])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
b
a

In [60]:
##### 복사 (얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]

b = a

b[0] = 10

print(b)
print(a)

print("----------------------------------------------")

a = [1, 2, 3, 4, 5]

# b = a[0:5]
b = a[:]

b[0] = 10

print(b)
print(a)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
----------------------------------------------
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [62]:
##### list의 생성

a = []
a = list()

print(type(a))

<class 'list'>

In [76]:
##### 각 자료형 함수(참고)

a = '10'
print(int(a), type(int(a)))
print(str(a), type(str(a)))
print(float(a), type(float(a)))
print(bool(a), type(bool(a)))

print(list(a), type(list(a)))
print(list([a]), type(list([a])))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>
['1', '0'] <class 'list'>
['10'] <class 'list'>

In [89]:
##### list 초기화

a = [1, 2, 3]
print(a)

a = list([1, 2, 3])
print(a)

a = list(range(0, 10)) # range(10), range(0, 10, 1)
print(a)

a = list(range(5, 12))
print(a)

a = list(range(5, 12, 2))
print(a)

a = list(range(-4, 12, 1))
print(a)

# 10 9 8 7 6 5 4 3 2 1
a = list(range(10, 0, -1))
print(a)

[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [98]:
##### 연산 기능

a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)
print(a[0] + b[0])
print(str(a[1]) + "hi~~")
print(a[1], "hi~~")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
5
2hi~~
2 hi~~

In [106]:
##### 추가하기 : insert(), append(), extend()

a = [1, 2, 3]
print(a)

a.insert(0, 100)
print(a)

a.append(4)
print(a)

a.extend([5])
print(a)

a.append([6, 7, 8])
print(a)

a.extend([9, 10, 11])
print(a)

[1, 2, 3]
[100, 1, 2, 3]
[100, 1, 2, 3, 4]
[100, 1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5, [6, 7, 8]]
[100, 1, 2, 3, 4, 5, [6, 7, 8], 9, 10, 11]

In [7]:
##### 정렬

a = [1, 4, 3, 2]
a.sort()
print(a)

a = [1, 4, 3, 2]
#print(sorted(a))
#print(a)
a = sorted(a)
print(a)

a.reverse()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [1]:
##### 제거

# 범위를 지정해서 제거
a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

# 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

# 위치를 찾아서 삭제
del a[4]
print(a)

print("------------------------------------------")

# 전체 데이터 삭제
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

a = [1, 2, 3, 1, 2, 3]
del a
# print(a)

print("------------------------------------------")

# stack
a = [1, 2, 3]
b = a.pop()
print(b)
print(a)

b = a.pop()
print(b)
print(a)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
------------------------------------------
[]
------------------------------------------
3
[1, 2]
2
[1]

In [26]:
##### 검색 : index()

a = [1, 2, 3, 4, 5]

print(a.index(4))
# print(a.index(7))

print(2 in a)
print(7 in a)

3
True
False

---

#### (4) tuple

+ ( ) 사용
+ immutable

In [2]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))

print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [6]:
# a[1] = 10
b = list(a)
b[1] = 10
print(b)

c = tuple(b)
print(c)

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [10]:
##### packing과 unpacking

a = 10, 20, 30
print(a)

#a1 = a[0]
#a2 = a[1]
#a3 = a[2]

a1, a2, a3 = a
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---

#### (5) dict (dictionary)

+ 순서가 없다.
+ {키:값, 키:값, ...}
+ 키를 이용해서 값을 조회

In [12]:
a = {"name":"홍길동", "tel":"111-1111", "age":25}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 25}
<class 'dict'>

In [15]:
print(a["name"], a["tel"], a["age"])

홍길동 111-1111 25

In [18]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [26]:
# dict는 자동화를 위해 list형식으로 바꿔야 할 경우가 존재한다.
b = a.items()
print(type(b))

c = list(a.items())
print(c)
print(type(c))
print(c[0], c[0][0])

<class 'dict_items'>
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
<class 'list'>
('name', '홍길동') name

In [27]:
#####  수정

a["name"] = "임꺽정"
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}

In [28]:
##### 추가

a["hobby"] = ["낚시", "여행", "독서"]
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['낚시', '여행', '독서']}

In [30]:
##### 삭제

del a["tel"]
print(a)

KeyError: 'tel'

In [31]:
a.clear()
print(a)

{}

In [36]:
##### 데이터 가져오기 : get("키", default)

a = {"name":"홍길동", "tel":"111-1111", "age":25}

print(a["name"])
print(a.get("name"))

# print(a["hobby"])
print(a.get("hobby", "독서"))
print(a)

홍길동
홍길동
독서
{'name': '홍길동', 'tel': '111-1111', 'age': 25}

---

#### (6) set

+ {} 사용
+ 순서가 없다
+ 중복 불가

In [38]:
a = {1, 2, 3, 4, 2, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [40]:
# print(a[0])
b = list(a)
print(b[0])

1

In [57]:
##### 집합 연산

s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합
print(s1.union(s2))

# 교집합
print(s1.intersection(s2))

# 차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [58]:
##### CRUD

# 여러 개 추가
s1.update({7, 8})
print(s1)

# 한 개 추가
s1.add(9)
print(s1)

# 삭제
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

# s1.remove(9)
s2.discard(9)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [60]:
##### 중복된 데이터를 제거하고 재구성

data = [1, 2, 3, 4, 4, 5, 2]

data2 = set(data)
print(data2)

data3 = list(data2)
print(data3)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

---

## 4. Operator

    1) 산술 연산자
        *  /  +   -  %(나머지)  //(몫)  **
    
    2) 비교 연산자
        >   <   >=   <=  ==  !=
        
    3) 논리 연산자
        and   or   not(단항 연산자, toggle 연산자)
        
        x   y        x and y     x or y   not x    x ^ y
        ---------------------------------------------------
        T   T           T           T       F        F
        T   F           F           T       F        T
        F   T           F           T       T        T
        F   F           F           F       T        F
             
    
    4) 대입(치환) 연산자
        =   +=   -=    /=   *=   ...
        
================================================================

    5) 포함 여부 연산자
        in    not in
        
    6) 비트 연산자
        &(and)    |(or)    ^(xor)   ~   >>  <<  ....

In [61]:
##### 대입 연산자

a = 1
a = 3
a = 5
print(a)

b = 1
b += 3   # b = b + 3
b += 5   # b = b + 5
print(b)

5

In [72]:
##### 비트 연산자

a = 7
b = 3

result = a>3 and b<5
print(result)

result = a>3 & b<5
print(result)

result = a & b
print(result)

True
True
3

In [75]:
data = 648723
key = 38976542

encode = data ^ key
print("암호화 : ", encode)

print("------------------------------------")

decode = encode ^ key
print("복호화 : ", decode)

암호화 :  39541261
------------------------------------
복호화 :  648723