## 1. 입력 기능

In [2]:
name = input("당신의 이름은?")

당신의 이름은?홍길동

In [4]:
print("안녕하세요! {}님 어서 오세요!".format(name))

안녕하세요! 홍길동님 어서 오세요!

In [6]:
num1 = int(input("첫번째 숫자 : "))
num2 = int(input("두번째 숫자 : "))

print("결과 : ", num1 + num2)

첫번째 숫자 : 10
두번째 숫자 : 100
결과 :  110

In [ ]:
"""
동전 교환 프로그램
==================
교환할 돈은 얼마입니까? 2763 (엔터키)

결과:
오백원짜리 ===> 5개
백원짜리 ===> 2개
오십원짜리 ===> 1개
십원짜리 ===> 1개
나머지 바꾸지 못한 잔돈 ===> 3원
"""

---

## 2. 제어문 (Control Statement)

    1) 조건문 (만약 조건이 참이라면~)
        - if
        - switch

    2) 반복문
        - while
        - for
        - 주의할 점
            + 무한 반복
            + 반복 횟수

---

### (1) if

    1) 첫번째 유형 
        if 조건식 :
           문장
           ...
           
        if 조건식 : 문장
        
        
    2) 두번째 유형
        if 조건식 :
           문장
           ...
        else:
           문장
           ...
           
           
    3) 세번째 유형(다중 if문)
        if 조건식 :
           문장
           ...
        elif 조건식 :
           문장
           ...
        elif 조건식 :
           문장
           ...
        [else :
           문장
           ...] 
           
           
     4) 조건문의 중첩(nested)
         if 조건식 :
             문장
             ...
             
             if 조건식 :
                 문장
                 ...

In [8]:
##### 입력받은 숫자가 짝수/홀수 인지 판별하는 프로그램

num1 = int(input("숫자 : "))

if num1 % 2 == 0 :
    print(num1, "은 짝수 입니다")
    
if num1 % 2 != 0 : print("홀수 입니다.")

숫자 : 6
6 은 짝수 입니다

In [ ]:
num1 = int(input("숫자 : "))

if num1 % 2 == 0 :
    print(num1, "은 짝수 입니다")
else:    
    print("홀수 입니다.")

In [ ]:
##### 입력받은 값이 a, b, c, d 이면 "정답"이라고 출력하고 그렇지 않으면 "오답"이라고 출력

In [10]:
ans = input("answer : ")

if ans == 'a' or ans == 'b' or ans == 'c' or ans =='d':
    print("정답")
    
else:
    print("오답")

answer : e
오답

In [13]:
correctanswer=["a","b","c","d"]

answer=input("답변을 입력하세요")

if answer in correctanswer:
    print("정답입니다.")
else:
    print("오답입니다.")

답변을 입력하세요e
오답입니다.

In [ ]:
result = input("값을 입력 해주세요 : ")

if result == "a" or result == "b" or result == "c" or result == "d":
    print("정답")
else:
    print("오답")

In [ ]:
string_ = input("answer : ")

if string_ == 'a' or string_ == 'b' or string_ == 'c' or string_ == 'd':
    print("정답")
else:
    print("오답")

In [20]:
x = (input("응답"))

if x == 'a' or 'b' or 'c' or 'd' :
    print(x, "정답")
    
else:
    print(x, "오답")

응답g
g 정답

In [ ]:
num = input("알파벳을 입력하세요: ")

if 'a' in num or 'b' in num or 'c' in num or 'd' in num:
        print("정답")
else: 
        print("오답")

In [23]:
ans = input("answer : ")

correct = ('a', 'b', 'c', 'd')
if correct.count(ans) > 0 :
    print("정답")
else: 
    print("오답")

answer : e
오답

In [27]:
ans = input("answer : ")

if ans >= 'a' and ans <= 'd':
    print("정답")
else: 
    print("오답")

answer : e
오답

In [31]:
print(ord('a'), ord('b'), ord('A'), ord('B'))
print(chr(97), chr(98), chr(65), chr(66))

97 98 65 66
a b A B

In [ ]:
"""
윤년 계산 프로그램
-------------------
1) 기원 연수가 4로 나누어 떨어지는 해는 우선 윤년으로 한다.
2) 그 중에서 100으로 나누어 떨어지는 해는 평년으로 한다.
3) 다만 400으로 나누어 떨어지는 해는 다시 윤년으로 정한다.

연도를 입력 : 2019(엔터) 참고로 2020년이 윤년윤년
결과 : 윤년입니다.(윤년이 아닙니다)
"""

In [32]:
##### 다중 if문

avg = 73

if avg >= 90 :
    print("A학점")
elif avg >= 80 :
    print("B학점")
elif avg >= 70 :
    print("C학점")
elif avg >= 60 :
    print("D학점")
else :
    print("F학점")

C학점

In [ ]:
"""
전자 계산기 프로그램(사칙연산)
----------------------------------
연산자 : +
숫자1 : 10
숫자2 : 5

결과 : 10 + 5 = 15
"""

In [33]:
##### 조건문의 중첩

a, b, c = 8, 10, 3

if a > b :
    if a > c :
        print("a가 가장 크다")
    else :
        print("c가 가장 크다")
else:
    if b > c :
        print("b가 제일 크다")
    else :
        print("c가 제일 크다")
        
print("----------------------------------------")

id = input("ID : ")   # tiger
pw = input("Password : ")  # 1111

if id != "tiger":
    if pw != "1111":
        print("둘 다 틀림")
    else:
        print("아이디만 틀림")
else:
    if pw != "1111":
        print("패스워드만 틀림")
    else:
        print("로그인 성공")

b가 제일 크다

In [53]:
import random

random.randint(0, 5)

3

In [ ]:
##### 가위 바위 보 게임 프로그램
"""
(가위, 바위, 보) 중에서 하나를 입력 : 가위(엔터)
컴퓨터 : 보, 사용자 : 가위
사용자 승
"""

---

### (2) while

    while 조건식 :
        문장
        ...

In [59]:
print("**********")
print("*" * 10)

cnt = 0
while cnt < 10:
    print("*", end="\t")
    #cnt = cnt + 1
    cnt += 1

**********
**********
*	*	*	*	*	*	*	*	*	*

In [61]:
##### 1부터 10까지의 합계 : 55

cnt = 0
sum = 0

while cnt <= 10 :
    sum += cnt
    cnt += 1
    
print("결과 : ", sum)

결과 :  55

In [63]:
##### 2의 10승 : 1024

cnt = 0
sum = 1

while cnt < 10 :
    sum *= 2
    cnt += 1
    
print("결과 : ", sum)

결과 :  1024

---

### (3) for

    for 변수 in 집합자료형 : 
        문장
        ...

In [70]:
data = [10, 20, "홍길동", 3.14, True]

cnt = 0
while cnt < len(data):
    print(data[cnt])
    cnt += 1
    
print("-----------------------------------------------")

for v in data:
    print(v)
    
print("-----------------------------------------------")

for v in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]:
    print("*", end="")

print()
print("-----------------------------------------------")

for v in range(10) : 
    print("*", end="")

10
20
홍길동
3.14
True
-----------------------------------------------
10
20
홍길동
3.14
True
-----------------------------------------------
**********
-----------------------------------------------
**********

---

### (4) 반복문의 강제 종료

+ break : 완전 종료
+ continue : 일시 종료

In [74]:
for v in range(10):
    if v == 5:
        #break
        continue
        
    print(v)
    
print("--------------------")

cnt = 0
while True:
    if cnt == 20:
        break
    
    print("*", end="")
    cnt += 1

0
1
2
3
4
6
7
8
9
--------------------
********************

In [ ]:
"""
문제1
전자계산기 프로그램을 반복문을 이용하여 업그레이드
(끝나는 조건은 연산자에 x를 입력하면 종료)
----------------------------------------------------

문제2
가위바위보 게임을 반복문을 이용하여 업그레이드
(끝나는 조건은 x나 q를 입력하면 종료)

끝날 때 결과에 ?승 ?패를 출력

-----------------------------------------------------

문제3
숫자를 입력받아 짝수의 합과 홀수의 합을 구하시오.(0을 입력하면 종료)

숫자1: 2
숫자2: 3
숫자3: 1
숫자4: 6
숫자5: 0

짝수의 합:?
홀수의 합:?

---------------------------------------------------------

문제4
숫자 맞추기 게임

예시) 1부터 100사이의 숫자를 맞추시오

숫자 입력 : 50
낮음!

숫자 입력 : 75
낮음

....

숫자 입력 : 89
정답입니다. 시도회수는 ?번입니다.
"""

In [ ]:
"""
친구 관리 프로그램
====================

1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 2 (엔터)
이름을 입력 : 홍길동 (엔터)
-----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 2 (엔터)
이름을 입력 : 임꺽정 (엔터)
-----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 1 (엔터)
["홍길동", "임꺽정"]
----------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 4 (엔터)
변경할 이름 선택 : 홍길동 (엔터)
변경하고 싶은 이름 입력 : 홍길순 (엔터)
-------------------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 1 (엔터)
["홍길순", "임꺽정"]
-------------------------------
1.친구 리스트 출력
2.친구 추가
3.친구 삭제
4.이름 변경
9.종료
메뉴를 선택 : 3 (엔터)
삭제할 이름 입력 : 홍길순
------------------------------
"""

---

### (5) 반복문의 중첩

In [75]:
"""
**********
**********
**********
"""

for v1 in range(3):
    for v2 in range(10):
        print("*", end="")
    print()

**********
**********
**********

In [77]:
"""
*
**
***
****
*****
******
"""
for v1 in range(6):
    for v2 in range(v1+1):
        print("*", end="")
    print()

*
**
***
****
*****
******

In [ ]:
"""
     *
    ***
   *****
  *******
 *********
"""

---

### (6) List Comprehension

In [5]:
result = []

for i in range(10):
    result.append(i)
    
print(result)

##############################################

result = [i for i in range(10)]
print(result)

print("\n--------------------------------------------------\n")

result = []

for i in range(10):
    if i % 2 == 0:
        result.append(i)
    
print(result)

##############################################

result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

--------------------------------------------------

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [11]:
c1 = ['A', 'B', 'C']
c2 = ['D', 'E', 'A']

# ["AD", "AE", "AA", "BD", "BE", "BA", "CD", "CE", "CA"]

result = []
for row in c1:
    for col in c2:
        result.append(row + col)
        
print(result)

###########################################################

result = [row + col for row in c1 for col in c2]
print(result)

print("\n--------------------------------------------------\n")

# ["AD", "AE", "BD", "BE", "BA", "CD", "CE", "CA"]

result = []
for row in c1:
    for col in c2:
        if row != col:
            result.append(row + col)
        
print(result)

###########################################################

result = [row + col for row in c1 for col in c2 if not row == col]
print(result)

print("\n--------------------------------------------------\n")

# [["AD", "AE", "AA"], ["BD", "BE", "BA"], ["CD", "CE", "CA"]]

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

--------------------------------------------------

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [ ]:
words = "some where over the rainbow way up high"

"""
["SOME", "some", 4]
["WHERE", "where", 5]
...
"""